ul{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{width:100%;}


header{position: absolute; top:0; width: 100%; padding-top:15px;}
  header h1{position: absolute; left:100px; width:100px; z-index: 9999;}
  header h2{position: absolute; right:70px; width: 200px;top: -25px; z-index: 9999;}
  header h2 img{width:100%;}
  .mainBanner{ /*height: 72vh; */}
  .mainBanner img{width:100%;}
  .mainBanner .swiper-pagination-bullet{background: #fff; opacity: 1;}
  .mainBanner .swiper-pagination-bullet-active{background:red;}
  .mainBanner > .swiper-pagination-bullets{bottom:38px !important;}
  .services{background:#555;}
  .services .service:hover{background:#444;}
  .services .service {
    transition: all .3s;
    background: #555;
    text-align: center;
    padding: 25px;
    padding-top:10px;
    width: 100%;
    display: inline-block;
}
  .services .service .icon-wrap{margin-bottom: 12px;}
  .services .service h3{color:#fff; font-size: 18px; padding-bottom: 10px;}
  .services .service h3:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    left: 50%;
    bottom: 27px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;}
  .services .service img{width: 80px;} 
  .site-section {
    padding: 3.5em 0;
  }
  .img-wrap-1 img{max-width: 400px; border-radius: 75px;}
  .service-2{background: #f7f7f7;padding: 20px;}
  .service-2 .icon-wrap {margin-right: 15px;} 
  .service-2 img{margin-top:-20px;}
  .service-2 h3 {color:#585858; font-size:1.55rem; margin-bottom: 20px; font-weight: bold;}
  .service-2 p {color:#585858;}


  .mainCategory{background:#4c4d4f; }
  .mainCategory ul { padding:28px 0 38px; margin-bottom: 0; width:1400px; margin:0 auto;}
  .mainCategory ul li{text-align: center;}
  .mainCategory ul li h3 {color: #fff; font-size:18px; margin-bottom: 0; margin-top:3px; font-weight: 500;}
  .mainCategory ul li h3::after{content: "";display: block;height: 2px;  width:25px; margin:6px auto 0; background: #fff;}
  .mainCategory ul li a div img{width:100%; max-width: 75px;}


  .site-section article.dep1{width:1150px; margin: 0 auto;}
  .site-section article.dep1 ul{padding:0; display: flex; margin-bottom:100px; align-items: center !important;}
  .site-section article.dep1 ul li h2{font-weight: bold; font-size: 34px; margin-bottom: 25px;}
  .site-section article.dep1 ul li p {font-size: 25px;line-height: 160%; margin-bottom: 20px;}
  .site-section article.dep1 ul li a {color:#be272e; font-weight: 600; font-size: 20px;}
  .site-section article.dep1 ul li img{border-radius: 85px;}
  .site-section article.dep1 ul li:nth-child(2) {padding:0 20px; text-align: center;}
  .site-section article.dep1 ul li:nth-child(2) img{max-width:350px; min-height: 350px;}

  .site-section article.dep2 ul{padding:0;}
  .site-section article.dep2 ul li{display: flex;  padding:15px !important;}
  .site-section article.dep2 ul li .contBox{display: flex; background:#f7f7f7; padding:18px 0; padding-left:15px;}
  .site-section article.dep2 ul li .icon_img img{width: 100%;}
  .site-section article.dep2 ul li .icon_img{width:25%; max-width:100px;}
  .site-section article.dep2 ul li .bt_icon_txt h3 {margin-top:20px; margin-bottom: 22px; font-size: 22px; font-weight: bold; color:#585858}
  .site-section article.dep2 ul li .bt_icon_txt{flex:1; padding-left:25px; padding-right: 25px; }
  .site-section article.dep2 ul li .bt_icon_txt p{font-size:16px;}

  /* 미디어 쿼리 수정할 사항*/
  .site-section article.dep2 ul li.biz_01{padding-right:15px !important; padding-left:0px !important;}
  .site-section article.dep2 ul li.biz_02{padding-left:15px !important; padding-right:0px !important;}
  .site-section article.dep2 ul li.biz_03{padding-right:15px !important; padding-left:0px !important;}
  .site-section article.dep2 ul li.biz_04{padding-left:15px !important; padding-right:0px !important;}

  /* 퀵메뉴 */
  .quick_menu_box{position: fixed;  top:150px; right:20px;  max-width: 82px; padding:0; z-index: 9999;}


  /* 모바일 쿼리 */
  @media screen and (max-width: 640px) {
    .service-2 .icon-wrap{width:80%!important; }
    .quick_menu_box{display: none;}
    header{display:none;}
    .m_hidden{display: none;}
  }